/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");



/* layout */
:root {
  --bg-color: #242525;
  --primary-color: #27292bfa;
  --primary-color-dark:#b2b5b7;
  --secondary-color: #B9CDDA;
  --accent-color: #FFCB69;
  --accent-color-secondary:#00a9e0;
  --text-color: #e8e6e3;
  /* --primary: #1aac83;
  --primary-dark: #168a62;
  --error: #e7195a; */

}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.article-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.article-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  /* color: var(--primary); */
}
.article-details p {
  margin: 0;
  font-size: 1.125rem;
  color: #222;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Merriweather", serif;
  font-weight: 400;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}
.article-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}


/* Article card styles */

.articles {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #ddd;
  margin-bottom: 20px;
  padding: 20px;
  flex: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-img {
  width: 500px;
  height: 400px;
  margin-bottom: 10px;
}

.card-content {
  margin-bottom: 10px;
}

.card-link-readmore {
  color: var(--accent-color-secondary);
  display: block;
  margin-top: 10px;
  font-size: 1.1rem;
}

.card-link-readmore:hover {
  text-decoration: underline;
}

.card-date {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #999;
    text-align: right;
}

.card-ellipsis {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-size: 24px;
}

.card-dropdown {
  position: absolute;
  top: 25px;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #ddd;
  display: none;
  padding: 10px;
}

.card-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.card-dropdown-menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  list-style: none;
}

.card-dropdown-menu li .card-link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #000;
}


ul li:hover {
  background-color: #f1f1f1;
}

ul li .card-link {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.card-dropdown::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ddd;
  border-left: 10px solid transparent;
}

.article-card .card-dropdown-menu {
  display: none; /* Hide the dropdown menu items by default */
  position: absolute;
  top: 40px;
  left: 100%;
  transform: translateX(-100%); /* Move the menu back by the width of the menu to align the top-left corner with the top-right corner of the ellipsis button */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #ddd;
  z-index: 1;
  margin: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 0;
}

/* .article-card .card-ellipsis:focus + .card-dropdown-menu {
  display: block; 
  opacity: 1;
} */

.card-dropdown-menu.open {
  display: block; /* Show the dropdown menu items when the ellipsis button is clicked and focused */
  opacity: 1;
}



/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* text-area */
.text-area-parent {
  display: block;
  height: 40vh;
  width: 80vw;
  margin: 0;
}
.text-area-parent > textarea {
  height: 40vh;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 1.31rem;
  font-family: "Source Sans Pro", sans-serif;
}

.react-quill {
  height: 100%;
  width: 100%;
  margin: 0;
}


/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a, nav button {
  margin-left: 10px;
}

a h1:hover {
  color: var(--accent-color-secondary);
}
nav button {
  background: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  transition: all 0.2s ease-in-out;
}

nav button:hover {
  background-color: var(--accent-color-secondary);
}

.add-article-button {
  display: inline-block;
  padding: 6px 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.add-article-button:hover {
  background-color: var(--accent-color-secondary);
}

.nav-link {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: var(--accent-color-secondary);
}




/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}


/* article-page */

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.article-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.article-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.articlecontent {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.article-title {
  font-size: 2rem;
  font-weight: bold;
}

.article-subtitle {
  font-size: 1.5rem;
  font-weight: normal;
  color: #666;
}

.article-author {
  margin-top: 1rem;
  align-self: flex-start;
}

.article-author-link {
  color: #666;
  text-decoration: none;
}



